:root {
    --background-color: black;
    --text-color: yellow;
}

body {
    align-items: center;
    justify-content: center;
    font-family: "Palatino Linotype", sans-serif;
    margin: 0;
    padding: 1rem;
    background: var(--background-color);
    color: var(--text-color);
}

.mainTitle {
    text-align: center;
    font-size: 25px;
}

.subTitle {
    text-align: center;
    font-size: 20px;
}

.gallery {
    align-items: center;
}

.galleryBlur {
    filter: brightness(10%);
}

.imageGallery {
    display: inline-block;
    border: 2px solid slategrey;
    margin: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.creatureName {
    text-align: center;
    font-family: "Palatino Linotype", sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.informationWindow {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.informationWindow img {
    max-width: 1700px;
    height: auto;
}

.hideBody {
    visibility: hidden;
}

.openWindow {
    visibility: visible;
}